@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
body {
  font-family: "Plus Jakarta Sans", serif;
  background-color: #e6e6e6;
  /* font-family: "Nunito", serif; */
}
@tailwind components;
input,
button {
  font-family: inherit;
}

@tailwind utilities;

/* 
body:E6E6E6
btn-color: FAA885
links:AD491E
h1:#000
p:
last page bg: CF7751
*/
